{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict the Sales</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="text" name="item_id" id="item_id" placeholder="Item ID"><br>
            <input type="number" step ="any" name="item_weight" id="item_weight" placeholder="Item Weight"><br>
            <select name="item_fat_content" id="item_fat_content">
                <option value="low_fat">Low Fat</option>
                <option value="regular">Regular</option>
                <option value="non_edible">Non Edible</option>
              </select><br>
            <input type="number" name="item_visibility" id="item_visibility" placeholder="Item Visibility"><br>
            <input type="number" name="item_mrp" id="item_mrp" placeholder="Item MRP"><br>
            <input type="number" name="outlet_estd_yr" id="outlet_estd_yr" placeholder="Outlet Establishment Year"><br>
            <select name="outlet_size" id="outlet_size">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select><br>
              <select name="outlet_loc" id="outlet_loc">
                <option value="tier1">Tier 1</option>
                <option value="tier1">Tier 2</option>
                <option value="tier3">Tier 3</option>
              </select><br>
              <select name="outlet_type" id="outlet_type">
                <option value="supermarket1">Supermarket Type 1</option>
                <option value="supermarket2">Supermarket Type 2</option>
                <option value="supermarket3">Supermarket Type 3</option>
                <option value="supermarket4">Supermarket Type 4</option>
              </select><br>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}